@import (reference) "../../styles/modules/variables.less";
@import (reference) "../../styles/custom.less";
@import (reference) "../../styles/fonts.less";
@bg-borderwidth: 10px;
@bg-radius: 3px;
@bgcolor: white;

.Contribution {
  font-size: 13px;
  margin-bottom: 4px;
  padding-top: 7px;
  padding-left: 16px;
  color: @white;
  background: @blue;
  position: relative;

  i.task {
    position: absolute;
    right: 5px;
  }

  i.task.withStatus {
    position: absolute;
    right: 15px;
  }

  a {
    color: @grey-mortar;
    &:hover {
      color: @grey-mortar;
      text-decoration: underline;
    }
  }

  .markPullRight {
    float: right !important;
  }

  .markIcon {
    color: white !important;
  }

  &.task-ideas,
  &.ideas {
    border-top: @bg-borderwidth solid @bg-ideas;
    border-radius: @bg-radius;
    background: @bgcolor;
    color: @grey-mortar;
  }
  &.sub-projects {
    border-top: @bg-borderwidth solid @bg-sub-projects;
    border-radius: @bg-radius;
    background: @bgcolor;
    color: @grey-mortar;
  }
  &.task-development,
  &.development {
    border-top: @bg-borderwidth solid @bg-development;
    border-radius: @bg-radius;
    background: @bgcolor;
    color: @grey-mortar;
  }
  &.task-bug-hunting,
  &.bug-hunting {
    border-top: @bg-borderwidth solid @bg-bug-hunting;
    border-radius: @bg-radius;
    background: @bgcolor;
    color: @grey-mortar;
  }
  &.task-translations,
  &.translations {
    border-top: @bg-borderwidth solid @bg-translations;
    border-radius: @bg-radius;
    background: @bgcolor;
    color: @grey-mortar;
  }
  &.task-analysis,
  &.analysis {
    border-top: @bg-borderwidth solid @bg-analysis;
    border-radius: @bg-radius;
    background: @bgcolor;
    color: @grey-mortar;
  }
  &.task-graphics,
  &.graphics {
    border-top: @bg-borderwidth solid @bg-graphics;
    border-radius: @bg-radius;
    background: @bgcolor;
    color: @grey-mortar;
  }
  &.task-social,
  &.social {
    border-top: @bg-borderwidth solid @bg-social;
    border-radius: @bg-radius;
    background: @bgcolor;
    color: @grey-mortar;
  }
  &.task-documentation,
  &.documentation {
    color: @black;
    border-top: @bg-borderwidth solid @bg-documentation;
    border-radius: @bg-radius;
    background: @bgcolor;
    color: @grey-mortar;
    a {
      color: @black;
      &:hover {
        color: @black;
        text-decoration: underline;
      }
    }
  }
  &.tutorials {
    border-top: @bg-borderwidth solid @bg-tutorials;
    border-radius: @bg-radius;
    background: @bgcolor;
    color: @grey-mortar;
  }
  &.video-tutorials {
    border-top: @bg-borderwidth solid @bg-video-tutorials;
    border-radius: @bg-radius;
    background: @bgcolor;
    color: @grey-mortar;
  }
  &.copywriting {
    border-top: @bg-borderwidth solid @bg-copywriting;
    border-radius: @bg-radius;
    background: @bgcolor;
    color: @grey-mortar;
  }
}
