@import (reference) "../../styles/modules/variables.less";
@import (reference) "../../styles/custom.less";
@import (reference) "../../styles/fonts.less";

.Contribution {
  margin-bottom: 15px;
  padding: 10px;
  color: @white;
  background: @blue;
  position: relative;

  i.task {
    position: absolute;
    right: 5px;
  }

  i.task.withStatus {
    position: absolute;
    right: 15px;
  }

  a {
    color: @white;
    &:hover {
      color: @white;
      text-decoration: underline;
    }
  }

  .markPullRight {
    float: right !important;
  }

  .markIcon {
    color: white !important;
  }

  &.task-ideas,
  &.ideas {
    background: @bg-ideas;
  }
  &.sub-projects {
    background: @bg-sub-projects;
  }
  &.task-development,
  &.development {
    background: @bg-development;
  }
  &.task-bug-hunting,
  &.bug-hunting {
    background: @bg-bug-hunting;
  }
  &.task-translations,
  &.translations {
    background: @bg-translations;
  }
  &.task-analysis,
  &.analysis {
    background: @bg-analysis;
  }
  &.task-graphics,
  &.graphics {
    background: @bg-graphics;
  }
  &.task-social,
  &.social {
    background: @bg-social;
  }
  &.task-documentation,
  &.documentation {
    color: @black;
    background: @bg-documentation;
    border: 1px solid #999;
    a {
      color: @black;
      &:hover {
        color: @black;
        text-decoration: underline;
      }
    }
  }
  &.tutorials {
    background: @bg-tutorials;
  }
  &.video-tutorials {
    background: @bg-video-tutorials;
  }
  &.copywriting {
    background: @bg-copywriting;
  }
}
